@media (min-width: 1025px){
    .activityButton button{
        background-color: rgb(255, 152, 152);
        color: rgb(202, 39, 39);
    }
    div.Activity{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 3rem;
    }

}