main{
    padding-left: 4%;
    padding-right: 4%;
    margin-top: 10%;
}
.MoviesRecomended{
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    gap: 0.5rem;
    margin-bottom: 12%;
}
.MoviesRecomended img{
    width: 23%;
    border-radius: 2px;
}
.OscarMovies{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 12%;
    height:  auto;
}
.OscarMoviesCards{
    width: fit-content;
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    justify-items: center;
}
.OscarMoviesCards img{
    width: 100%;
    border-radius: 2px;
}
.OscarMovies h3{
    font-family: inter;
    color: #99AABB;
    font-size: 0.75rem;
    letter-spacing: .075em;
    text-transform: uppercase;
    margin-bottom: 1%;
    font-weight: 300;
}
.OscarMovies hr{
    background-color: #99AABB;
    height: 0.1px;
}
.OscarMovies p{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: start;
    color: #99AABB;
    font-family: inter;
    line-height: 1.5;
    margin-top: 4%;
    font-size: 0.9em;
}
.ReviewedMovies{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 12%;
}
.ReviewedMoviesCards{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    justify-items: center;
}
.ReviewedMoviesCards img{
    width: 100%;
    border-radius: 2px;
}
.ReviewedMovies #Info{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    justify-items: flex-start;
}
.ReviewedMovies h3{
    font-family: inter;
    color: #99AABB;
    font-size: 0.75rem;
    letter-spacing: .075em;
    text-transform: uppercase;
    margin-bottom: 1%;
    font-weight: 300;
}
.ReviewedMovies p{
    font-family: inter;
    color: #99AABB;
    font-size: 0.6rem;
    letter-spacing: .075em;
    text-transform: uppercase;
    margin-bottom: 1%;
    font-weight: 300;
}
.ReviewedMovies hr{
    background-color: #99AABB;
    height: 0.1px;
}
.PopularContent h2{
    font-family: inter;
    color: #AABBCC;
    font-size: 1.43rem;
    line-height: 1.23076923;
    font-weight: 270;
    margin-bottom: 3%;
}
.PopularContent{
    padding-left: 1%;
    padding-right: 1% ;
    display: flex;
    margin-top: 10%;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
    margin-bottom: 10%;
}
.PopularContent p{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    color: #99AABB;
    font-family: inter;
    line-height: 1.5;
    font-size: 0.88em;
}
.RecentCont{
    margin-top: 7%;
    margin-bottom: 5%;
    font-family: inter;
}
.RecentCont #InfoRecent{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    justify-items: flex-start;
    font-family: inter;
    color: #99AABB;
    font-size: 0.75rem;
    letter-spacing: .075em;
    text-transform: uppercase;
    margin-bottom: 1%;
    font-weight: 300;
}
#InfoRecent h3{
    font-family: inter;
    color: #99AABB;
    font-size: 0.75rem;
    letter-spacing: .075em;
    text-transform: uppercase;
    margin-bottom: 1%;
    font-weight: 300;
}
.RecentCont img{
  width: 100%;
}
.RecentCard{
    margin-bottom: 5%;
}
.RecentCont hr{
    margin-bottom: 2.5%;
}
.RecentCont h3{
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: inter;
    color: white;
    font-size: 1rem;
}
.RecentCont p{
    margin-top: 1%;
    margin-bottom: 1%;
    font-family: inter;
    color: #99AABB;
    font-size: 0.87rem;
}